<footer class="text-center mt-5 py-3">
  <div class="footer-content">
    <%- theme.footer.content %>
  </div>
  <%- partial('_partial/statistics.ejs') %>
  <%- partial('_partial/beian.ejs') %>
  <% if(theme.web_analytics.cnzz) { %>
    <!-- cnzz Analytics Icon -->
    <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
  <% } %>
<div>
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1280095261'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1280095261%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</footer>
